<footer class="footer footer-style-3 footer-style-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center col-sm-12 mb-30"><a href="index.html"><img style="width: 120px;" alt="AdsAsia" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Kiva.org_logo_2016.svg/1200px-Kiva.org_logo_2016.svg.png"></a>
          <div class="mt-20 mb-20">
            <p class="text-md neutral-600 mb-10">4517 Washington Ave. Manchester, Kentucky 39495</p>
            <p class="text-md neutral-600">Hours: 8:00 - 17:00, Mon - Sat </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="text-center">
                <div class="text-start d-inline-block">
                  <p class="text-lg title-follow neutral-0">Contact us
                    <div class="box-socials-footer">
                      <a class="icon-socials icon-facebook" href="{{$config["facebook"]}}" target="_blank">
                        <img alt="AdsAsia" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/2023_Facebook_icon.svg/768px-2023_Facebook_icon.svg.png">
                      </a><a class="icon-socials icon-instagram" href="{{$config["telegram"]}}" target="_blank">
                        <img alt="AdsAsia" src="https://static.cdnlogo.com/logos/t/39/telegram.svg"></a>
                        <a class="icon-socials icon-twitter" href="{{$config["whatsapp"]}}" target="_blank">
                          <img alt="AdsAsia" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1024px-WhatsApp.svg.png?20220228223904">
                        </a>
                     
                      </div>
                  </p>
                </div>
              </div>
        </div>
      </div>
      <div class="footer-bottom mt-0">
        <p class="text-center text-sm neutral-600">Copyright &copy; 2023 AdsAsia. All rights reserved.</p>

      </div>
    </div>
  </footer>