<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center"><img src="assets/imgs/template/loading.gif" alt="AdsAsia"></div>
        </div>
    </div>
</div>

<header class="header sticky-bar">
    <div class="container">
        <div class="main-header">
            <div class="header-left">
                <div class="header-logo"><a class="d-flex" href="/"><img style="width: 80px;" alt="AdsAsia"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Kiva.org_logo_2016.svg/1200px-Kiva.org_logo_2016.svg.png"></a></div>
                <div class="header-nav">
                    <nav class="nav-main-menu d-none d-xl-block">
                        <ul class="main-menu">
                            <li class="has-children"><a class="active" href="/">Home</a>

                            </li>


                            <li class="has-children"><a class="active" href="/tiktok.php">Tiktok</a>

                            </li>
                            <li class="has-children"><a class="active" href="/google.php">Google</a>

                            </li>
                            <li class="has-children"><a class="active" href="/meta.php">Meta</a>

                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header-right">
                <a href="#contact" class="btn btn-brand-4-medium hover-up" >Connect Us
                    <svg width="22" height="22" viewbox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.0003L18.4791 7.47949V10.3074H0V11.6933H18.4791V14.5213L22 11.0003Z" fill="">
                        </path>
                    </svg>
                </a>
                <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span
                        class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
            </div>
        </div>
    </div>
</header>

<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
        <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span
                class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>

        <div class="mobile-header-content-area">
            <div class="perfect-scroll">

                <ul class="mobile-menu font-heading">
                    <li ><a href="/">Home</a></li>
                    <li ><a href="/tiktok.php">Tiktok</a></li>
                    <li ><a href="/google.php">Google</a></li>
                    <li ><a href="/meta.php">Meta</a></li>
                </ul>
                <div class="site-copyright mt-50">Copyright 2023 &copy; AdsAsia.<br>Designed by AdsAsia.</div>
            </div>
        </div>
    </div>
</div>